name: ci

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'

  pull_request:
    branches:
      - '*'
    paths:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - 'tests/**'
      #- .github/workflows/ci.yml

defaults:
  run:
    shell: bash

jobs:
  toolchain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup

  build:
    runs-on: ubuntu-latest
    needs: [toolchain]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/build

  format:
    name: lint (rustfmt)
    runs-on: ubuntu-latest
    needs: [toolchain]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup

      - run: cargo fmt --all -- --check

  check:
    name: cargo check
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/build

      - name: cargo check
        run: cargo check

      - name: cargo check (w/ NGINX_PATH)
        run: NGINX_PATH=/my/nginx cargo check

      - name: cargo check (w/ RESTY_CLI_COMPAT_VERSION)
        run: RESTY_CLI_COMPAT_VERSION=v0.30 cargo check

      - name: cargo check (w/ invalid RESTY_CLI_COMPAT_VERSION)
        run: |
          export RESTY_CLI_COMPAT_VERSION=nope-nope-nope
          if cargo check; then
            echo "ERROR: expected 'cargo check' to fail" >&2
            exit 1
          fi

  clippy:
    name: lint (clippy)
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/build
      - run: cargo clippy --no-deps -- -D warnings

  test:
    uses: ./.github/workflows/test.yml
    needs: [build]

  compat:
    uses: ./.github/workflows/test-compat.yml
    needs: [build]
