name: test

on:
  workflow_call: {}

defaults:
  run:
    shell: bash

jobs:
  cargo-test:
    name: cargo test (${{ matrix.label }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - label: default

          - label: w/ NGINX_PATH
            NGINX_PATH: /my/nginx

          - label: w/ RESTY_CLI_COMPAT_VERSION
            RESTY_CLI_COMPAT_VERSION: v0.30

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./.github/actions/build

      - name: cargo test
        env:
          NGINX_PATH: ${{ matrix.NGINX_PATH }}
          RESTY_CLI_COMPAT_VERSION: ${{ matrix.RESTY_CLI_COMPAT_VERSION }}
        run: |
          if [[ -n ${NGINX_PATH:-} ]]; then
            export NGINX_PATH
          else
            unset NGINX_PATH
          fi

          if [[ -n ${RESTY_CLI_COMPAT_VERSION:-} ]]; then
            export RESTY_CLI_COMPAT_VERSION
          else
            unset RESTY_CLI_COMPAT_VERSION
          fi

          # using --bins to filter out integration tests
          cargo test --bins
