name: update cargo dist action pins

on:
  push:
    paths:
      - .github/workflows/release.yml
      - .github/workflows/update-cargo-dist-pinned-actions.yml
      - .github/pin-cargo-dist-actions.sh

    # XXX: maybe switch this to including only dependabot branches?
    branches-ignore:
      - "main"
      - "release/**"

  pull_request:
    types:
      - opened
      - reopened
    paths:
      - .github/workflows/release.yml
      - .github/workflows/update-cargo-dist-pinned-actions.yml
      - .github/pin-cargo-dist-actions.sh

  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  COMMIT_CHANGES: >-
    ${{
        github.event_name == 'pull_request'
        || ! contains(github.ref, 'main')
    }}
  CONFIG: dist-workspace.toml

jobs:
  update-dist-config:
    runs-on: ubuntu-latest

    permissions:
      # required to create a branch and push commits
      contents: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Update dist-workspace.toml
        id: update
        run: ./.github/pin-cargo-dist-actions.sh

      - name: Check for changes
        if: env.COMMIT_CHANGES == 'true'
        id: check
        run: |
          set -euo pipefail

          set +e
          DIFF=$(git diff --exit-code "$CONFIG")
          EC=$?
          set -e

          CHANGED='false'
          case $EC in
            0)
              echo "no changes made do $CONFIG"
              exit 0
              ;;

            1)
              echo "changes made to $CONFIG:"
              CHANGED='true'
              echo "$DIFF"
              ;;

            *)
              echo "error: git diff returned non [0-1] exit code: $EC"
              exit "$EC"
              ;;
          esac

          echo "changed=${CHANGED}" >> "$GITHUB_OUTPUT"


      - name: Commit changes
        id: commit
        if: >-
          env.COMMIT_CHANGES == 'true'
          && steps.check.outputs.changed == 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: ${{ github.head_ref }}
        run: |
          set -euo pipefail

          gh auth status
          gh auth setup-git

          # masquerade as dependabot
          git config --global user.name 'dependabot[bot]'
          git config --global user.email '<49699333+dependabot[bot]@users.noreply.github.com>'

          # debug
          git status
          git remote -v

          if [[ -n ${BRANCH:-} ]]; then
            git switch -C "$BRANCH"
          fi

          git add "$CONFIG"
          git commit -m "chore(deps): bump actions in $CONFIG"
          git push origin HEAD
